.App {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  color: #00828e;
}

.App-Container {
  width: 100vw;
  max-width: 600px;
  margin: 100px 20px;
  text-align: center;
}

img {
  height: 70px;
  margin: 50px;
}

.Control-Row {
  display: inline-flex;
  column-gap: 10px;
  width: 100%;
}

/* Styling the progress indicator */
.Progress-Container {
  background: #ffffff;
  border: 1px solid #fdcc08;
  height: 40px;
  width: 100%;
  margin: 20px 0px;
  position: relative;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 320px) {
  .App-Container {
    margin: 20px;
    max-width: 300px;
  }
  .Control-Row {
    flex-direction: column;
    row-gap: 10px;
  }
}